<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <img class="tent" src="../images/tent.png" alt="">
                </div>
                <div id="footer-about"class="col-sm-12 col-md-6">
                    <h6>Circus Facts!</h6>
                    <p class="text-justify">The world’s first trapeze performance took place in Paris on November 12, 1859. On that date, Jules Léotard amazed the audience by swinging through the air on his new invention. The trapeze has been a staple of circus performances ever since. But Jules was not only the father of the flying trapeze, he also was the inspiration for the common tight fitting garment that we call a leotard today.</p>
                </div>
                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a class="quick" href="http://scanfcode.com/about/">Contact Me!</a></li>
                        <li><a class="quick" href="http://scanfcode.com/contact/">GitHub</a></li>
                        <li><a class="quick" href="http://scanfcode.com/contribute-at-scanfcode/">LinkedIn</a></li>
                        <li><a class="quick" href="http://scanfcode.com/contribute-at-scanfcode/">Resume</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">2020 Magic & Design by 
                        <a class="quick" href="#">Britt</a>.
                    </p>
                    <p class="copyright-text">Trapeze photos by the lovely
                        <a class="quick" href="#">John Cornicello</a>.
                    </p>
                </div>
                
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="email" href=""><img src="../images/email.png" alt=""><i class="fa fa-email"></i></a></li>
                        <li><a class="linkedin" href="#"><img src="../images/linkedin.png" alt=""><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="github" href="#"><img src="../images/github.png" alt=""><i class="fa fa-github"></i></a></li>   
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
    