<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brittany Servent Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAACnpCABGmWwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABIiIiAAAAAAESIiIiIAAAAhIiIiIiAAACEREREiIAAAIREiIiIiAAAhIRIiIiIgACEhEREiIiAAIiERIREiIAAiISESIiIiAAIhIhEiIiIAAiIiEhEiIgAAIiISIhEiAAAAIiIiIiIAAAAAACIiIgAAAAAAAAAiAAAAAAAAAADAfwAAwA8AAMAHAADABwAAwAMAAMABAADAAQAAwAEAAMAAAADgAAAA4AAAAPAAAAD8AAAA/8AAAP/8AAD//wAA" rel="icon" type="image/x-icon" />
    <script defer src="../scripts/app.js"></script>
</head>
<body>

    <%- include('./navbar.ejs') %> 

<div class="hero">
    <div class="typing">
        <h1>Hello, World!
            <span
            class="txt-rotate"
            data-period="2000"
            data-rotate='[ "My name is Britt.", "I am a full-stack developer.", "" ]'></span>
        </h1>
    </div>
</div>

    <%- include('./footer.ejs') %>

</body>
</html>