<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brittany Servent Portfolio</title>
    <link href="data:image/x-icon;base64,AAABAAEAEBAAAAAAAABoBAAAFgAAACgAAA
    AQAAAAIAAAAAEAIAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAcAAAAQAA
    AAHAAHBTIBMiRkDisjYAUTD0cAAgEqAAAAGgAAAA8AAAAGAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAFAAICDQIWEBoGfFrIHayD/k28nP4Tl3HtEjMqQAQODBUAAAAMAAAABQAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAASe1wwQ8ij1aXPxf9ky6//D6Z6/ze7lpgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKrLxEPb293/8PHy/zu/mcY90aeZAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADO0NEM1NTV7/X19f+d2MgqQM2lKQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANHR05Xq6ur/093cOAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADJyM1j0tLV/tfX28bd3eEVAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAl4GeGMjGzc3W1NrMwrHLBgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaBqpaUgVW/FLHlL6VCda9k0fU+2Ib43yybzP6m1Ad5xrL3pwZyh5O2MjdwcAAAAAAAAAAAAAAAAAAAAAAAAAAGgYt11IHXD2MRIv/0goQf9FJT//W0JY/5+Ypf9MLUb/SyxF/zYZMf9IIE3sTxlmklcWgxEAAAAAAAAAAAAAAAAAAAAAdy63PY9Yy+5tMZT/Txxk/0wsT/+enZ7/SilD/0EhO/9FIT3/PiE5/y0VMv9tFbSRAAAAAAAAAAAAAAAAAAAAAAAAAACMOsxGwZjp/b6H6P+rXdv/l0HL/4Ixtf99Lq//fjuv/4tQuf2GKb2wdh+rKQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJFew72bX87/tIzg/8qz6/+yh97/oFbV/6pb2eqeOdJHAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB6Qa9Jwqng/rmG3P/GoeT/xqTl/86u6O6iS9AsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiVG0ApFTub/St+j/2cLs/8ql4/6wb9JiAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACWWLwcsHzOqL2N2Mmwcs93r3DQAgAAAAAAAAAAAAAAAAAAAAAAAAAA//8AAPh/AAD4PwAA/D8AAPz/AAD8/wAA/n8AAP5/AADgPwAA4AMAAPABAAD4AwAA+A8AAPwfAAD8PwAA/n8AAA==" rel="icon" type="image/x-icon" />
</head>
<body>
    <%- include('./navbar.ejs') %> 
    <img src="/images/marek-piwnicki-NRqTdKABQMw-unsplash.jpg" alt="background">
    <%- include('./footer.ejs') %>
</body>
</html>