* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Quantico', sans-serif !important;
  color: #343A3C;
}

b {
  padding: 4px;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  position: absolute;
  right: 2%;
  top: 4.5%;
}
#header {
  display: inline-block;
  padding: 0;
}

.slogan {
  max-width: 72rem !important;
  font-size: .80rem;
  color: #343A3C !important;
  padding: .5em;
  opacity: .9;
}

#nav {
  border-right: 1.5px solid #343A3C;
  opacity: .9;
}

#learn-more {
  color: #F6FAFA !important;
  border: none;
  margin-bottom: 1.5em;
  opacity: .9;
} 

header {
  background-color:#F6FAFA;
  opacity: .9;
  padding: .5rem;
  display: flex;
}

.tent {
  max-width: 15%;
  max-height: auto;
  padding: 0rem 0rem 0rem 5rem !important;
  position: absolute;
  margin-bottom: 8rem !important;
}

#footer-about {
  padding-left: 0rem !important;
}

.technologies {
  color:#737373 !important;
}

.quick {
  color:#737373 !important;
}

a {
  color: #343A3C !important;
  font-size: 18px;
}

a:hover {
  background-color:#4CA19C!important;
  border-radius: 5% !important;
  transition: .6s;
  color: #F6FAFA !important;
}

#email:hover {
  background-color: #FFC7D0!important;
}

#linkedin:hover {
  background-color: #FFC7D0!important;
}
#github:hover {
  background-color: #FFC7D0!important;
}

.project-img {
  opacity: 1;
}

.intro {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: #35393C;
border-radius: 25px;
color: #F6FAFA;
max-width: 66%;
opacity: 8;
margin: 2em 2em 2em 15em;
border: 2px solid #989E9E;
}

h3 {
margin: .5em !important;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 75%;
  height: auto;
  border-radius: 25px;
  border: 4px solid #FFC0CB;
  display: flex;
  opacity: 1.0;
  flex-direction: column;
  top: 4rem;
  position: relative;
}

.cover-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0rem;
}

.lead {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 4em 10em 1em 10em;
}

.hero {
  background-image: url("../images/smoke.png"), linear-gradient(to bottom right, #34ddd3, #FFC0CB);
  background-color: #343A3C;
  opacity: .8;
  min-height: 100wh;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  border: 3px solid #35393C;
}

.about {
  background-color: #2C2731;
  padding: 8rem 0rem 8rem 0rem;
}

.poster {
  display: flex;
  max-width: 100%;
}

.card-text {
  background-color: #FFC7D0;
  padding: .5rem;
  opacity: 1.0 !important;
}

.contact {
  background-image: url("../images/smoke.png"), linear-gradient(to bottom right, #34ddd3, #FFC0CB);
  background-color: #343A3C;
  opacity: .9;
  max-width: 100%;
  max-height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid #35393C;
  padding-bottom: 5rem;
}

#contact {
  position: relative;
}

#row-contact {
  display: flex;
  justify-content: center;
}
.projects {
  background-color: #343A3C;
  opacity: .9;
  min-height: 100wh;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem 6rem 6rem 6rem;
  margin: 3rem;
  color: #F6FAFA;
}

#card {
  color: #343A3C !important;
}

.typing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  background-color:  #F6FAFA;
  opacity: .9;
  margin-top: 8rem;
  position: absolute;
  
}

h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 { font-size: 3.5em; }
h2 {
  color:#343A3C;
  font-size: 2em;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

img {
  max-width: 100%;
  max-height: auto;
  opacity: .8;
}